.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
}

.scroll-btn {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  /* İkonun boyutunu buradan ayarlayabilirsin */
  font-size: 20px; 
}

.scroll-btn:hover {
  transform: translateY(-7px); /* Biraz daha fazla zıplasın */
  background-color: #f8f8f8;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.4);
}